.listItemText-root .listItemText-primary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItemText-root .listItemText-secondary {
  display: flex;
  align-items: center;
  height: 24px;
}
